scss:
  .aut {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;

    margin: 0 auto;
    width: 295px;
    border-right: 20px solid #f5f5f5;
    border-left: 20px solid #f5f5f5;
  }

  .aut img {
    border: 10px solid #f0f0f0;

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box;
  }

  .dir {
    text-align: center;
  }

  .dir h3 {

  }

  .dir p.small {
    font-size: 75%;
  }

  .dir p.about-p {
    text-align: left;
  }

/= raw @content
.about-bg style=("background-image: url('#{@page.background_image.url}')" if @page.try{|p| p.background_image.exists? } )
  = html_block_with_fallback(:content, true) do





