<h1 class="welcome-msg-h"></h1>
<p>
    Welcome to «Express logistics»
</p>
<p class="welcome-msg-p"></p>
<p>
    The company «Express logistics» a forwarding company which provides services in the field of logistics and multimodal transport. The main goal of our company - to organize the logistics services so that you get the desired result, were satisfied with the service and did not care what happens and how.
</p>
<p class="welcome-msg-pi">
    <i>Our task - to organize all operations as safely, efficiently, quickly and at affordable prices.</i>
</p>