<div class = "container">
        <div class = "row">
            <div class = "span4" style = "text-align: center;"> <img alt = "" src = "/assets/logo-symbol-only-484f2f83b7b72a9c32f230156d6a8ae179e90fe0a937c0a770807f9c0b3bd8ef.png" /> </div>

            <div class = "span8">
                <h2> Про компанію & laquo; Express Logistics & raquo; </h2>

                <p> Для надання нашим клієнтам повністю всього спектру необхідних послуг в області транспортних перевезень, була створена експедиційна компанія & laquo; Express logistics & raquo;. Наша компанія надає експедиторські послуги як по території України так і в міжнародному сполученні. Компанія & laquo; Express logistics & raquo; є відносно молодою, але завдяки успішній діяльності в галузі транспортних перевезень, придбала репутацію надійного ділового партнера, чітко дотримується взятих на себе зобов'язання. </p>
            </div>
        </div>
</div>